version: '3'
services:
  tvbot:
    image: tvbot:dev
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tvbot
    env_file:
      - .env
    volumes:
      - ./data:/app/data/
  # mongo:
  #   image: bitnami/mongodb:4.4
  #   environment:
  #     - MONGODB_ADVERTISED_HOSTNAME=127.0.0.1
  #     - MONGODB_REPLICA_SET_MODE=primary
  #     - MONGODB_ROOT_USER=root
  #     - MONGODB_ROOT_PASSWORD=rootpassword123
  #     - MONGODB_REPLICA_SET_KEY=replicasetkey123
  #   ports:
  #     - 27017:27017
  #   volumes:
  #     - ./mongodata:/bitnami/mongodb
